body {
    background-color: rgb(225,225,225);
}

header {
/*    background-color: rgba(50,50,50,.8);*/
    background: linear-gradient(rgb(120,120,120),rgb(50,50,50));
}

nav {
    width: 980;
    margin-left: auto;
    margin-right: auto;
}

nav ul {
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    padding:0;
    overflow: hidden;
    color: white;
    font-size: 1.4rem;
}

nav ul:hover {
    cursor: default;
}

nav li {
    padding: 1rem;
    float: left;
}

nav li:hover {
    background: linear-gradient(rgb(150,150,150),rgb(80,80,80));
}

#container {
}

#content {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

#sheet {
    height: 500px;
    width: 500px;
    display:block;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255,255,255,1); 
    border: 1px solid rgba(0,0,0,.5);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,.5);
}