<html>
    <head>
    	{% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static "styles/reset.css" %}"/>
        <link rel="stylesheet" type="text/css" href="{% static "styles/home.css" %}"/>
        
        <title>Illustration SS</title>
    </head>
    <body onload="init()">
        <header>
            <nav>
                <ul>
                    <li>File</li>
                    <li>Edit</li>
                    <li>View</li>
                    <li>Image</li>
                    <li>Layers</li>
                    <li>Adjustments</li>
                    <li>Effects</li>
                    <li>Utilities</li>
                </ul>
            </nav>
            <input type="button" value="Save Image" onclick="save()"/>
            <input id="imageLoader" type="file" value="Load Image"/>
            <input type="button"  value="Clear Canvas" onclick="erase()"/>
        </header>
        
        <div id="container">
            <div id="toolbar">
                <div class="tool" id="pencil"></div>
                <div class="tool"></div>
                <div class="tool"></div>
                <div class="tool"></div>
                <div class="tool"></div>
                <div class="tool"></div>
                <div class="tool"></div>
                <div class="tool"></div>
                <div class="tool"></div>
                <div class="tool"></div>
                <div id="colorTag">HexCode</div>
                <input id="colorHex" type="text" placeholder="000000" maxlength="6" oninput="color(this)">
                <div id="color"></div>
            </div>
            </div>
            
            <div id="content">
                <canvas id="sheet"/>
                <input id="hidden_image_field"type="hidden" value="">
            </div>
        </div>
        
        <script type="text/javascript" src="{% static "javascript/canvas_pencil.js" %}"></script>
        <script type="text/javascript" src="{% static "javascript/canvas2image.js" %}"></script>
        <script type="text/javascript" src="{% static "javascript/base64.js" %}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    </body>
</html>