body {
    background-color: rgb(225,225,225);
}

header {
    background: linear-gradient(rgb(120,120,120),rgb(50,50,50));
    width: 100%;
    position:fixed;
    top: 0;
}

nav {
    width: 980;
    margin-left: auto;
    margin-right: auto;
}

nav ul {
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    padding:0;
    overflow: hidden;
    color: white;
    font-size: 1.4rem;
}

nav ul:hover {
    cursor: default;
}

nav li {
    padding: 1rem;
    float: left;
}

nav li:hover {
    background: linear-gradient(rgb(150,150,150),rgb(80,80,80));
}

#content {
	border: 10px solid gray;
	position: relative;
    width: 500px;
    height:500px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    top:100px;
}

#canvas {
    cursor: url(/static/images/PaintBrush.png),auto;
}

#tmp_canvas {
	position: absolute;
	left: 0px; right: 0;
	bottom: 0; top: 0;
	cursor: crosshair;
}

#toolbox {
    position: fixed;
    left: 0;
    width: 100px;
    top: 80px;
    background-color: rgba(150,150,150,1);
    display: inline-block;
    border-top: 3px solid rgba(255,255,255,.5);
    border-right: 3px solid rgba(150,150,150,.3);
    border-bottom: 3px solid rgba(150,150,150,.6);
    border-left: 3px solid rgba(255,255,255,.75);
}

.tool {
    height: 50px;
    width: 50px;
    cursor: pointer;
    float: left;
    box-shadow: 3px 3px 15px 1px rgba(125,125,125,.75) inset;
}

.tool:hover {
    background-color: rgba(175,175,175,1);
}

#pencil {
    background-image: url(/static/images/pen.png);
    background-position:center;
    background-repeat: no-repeat;
}

#brush {
    background-image: url(/static/images/PaintBrush.png);
    background-position:center;
    background-repeat: no-repeat;
}

#bucket {
	background-image: url(/static/images/Paint-icon.png);
    background-position:center;
    background-repeat: no-repeat;
}

#picker {
	background-image: url(/static/images/ColorPicker.png);
    background-position:center;
    background-repeat: no-repeat;
}

#colorTag{
    padding-top: 10px;
    width: 100px;
    color: white;
}

#colorHex  {
    width: 100px;
}

#color {
    width: 100px;
    height: 20px;
    background-color: black;
}

#controls {
	position: fixed;
    right: 0;
    width: 117px;
    top: 80px;
    background-color: rgba(150,150,150,1);
    display: inline-block;
    border-top: 3px solid rgba(255,255,255,.5);
    border-right: 3px solid rgba(150,150,150,.3);
    border-bottom: 3px solid rgba(150,150,150,.6);
    border-left: 3px solid rgba(255,255,255,.75);
}
